<div class="container">
  <h4>Certificados</h4>
  <div *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <div *ngIf="!loading">
    <div class="course-list" *ngIf="courses.length > 0">
      <div class="course-certificate" *ngFor="let course of this.courses">
        <div>
          <a routerLink="/studies/course/{{ course.uuid }}" href="/studies/course/{{ course.uuid }}">
            <span>{{ course.title }}</span>
          </a>
          <small> ({{ Math.ceil(course.duration / 3600) }} horas)</small>
        </div>
        <div style="text-align: right">
          <a target="_blank" href="https://studies.solidjobs.org/course/{{ course.uuid }}/certificate">
            <span class="btn">Obtener certificado</span>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="courses.length === 0">
      <span>Todavía no tienes certificados, accede a <a href="/studies">ESTUDIAR</a> para empezar a estudiar.</span>
    </div>
  </div>
</div>
