<!-- Modal Structure -->
<div id="modal1" class="modal modal-1">
  <nav>
    <div class="nav-wrapper">
      <ul>
        <li class="modal-close"><a style="font-size: unset;" class="modal-close" onclick="return false;"><i style="display: inline; vertical-align: bottom;" class="material-icons">chevron_left</i>Ir al panel gráfico</a></li>
      </ul>
    </div>
  </nav>

  <iframe src="https://app.solidjobs.org/dialogflow" style="width: 100%;height: 800px;border: 0;">
  </iframe>
  <div class="modal-content">
    <p>SolidJobs ofrece un asistente por voz con el que puedes interactuar hablando de forma natural.</p>
    <p><strong>¡Nunca fue tan fácil!</strong></p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>

<!-- Botón flotante -->
<div class="fixed-action-btn">
  <!-- Modal Trigger -->
  <a href="#modal1" id="open-modal" class="btn-floating btn-large white modal-trigger">
    <img style="margin-top: 11px; width: 56px;" src="/assets/img/cv-app/transparent-icon.png" alt="Abrir asistente" />
  </a>
</div>
