.container {
  max-width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lecture-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.lecture-action {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
